@model CommentAddDto
<!-- Title -->
<h1 class="mt-4">@ViewBag.Article.Title</h1>

<!-- Author -->
<p class="lead">
    by
    <a href="#">Start Bootstrap</a>
</p>

<hr>

<!-- Date/Time -->
<p>Posted on @ViewBag.Article.PostedTime</p>

<hr>

<!-- Preview Image -->
<img class="img-fluid rounded" src="~/img/article-cover/@ViewBag.Article.ImagePath" alt="">

<hr>

<!-- Post Content -->
<div class="text-justify">
    @Html.Raw(ViewBag.Article.Content)
</div>

<hr>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form id="commentForm" asp-controller="Home" asp-action="AddComment" method="post">
            <input type="hidden" asp-for="ArticleId" value="@ViewBag.Article.Id" />
            <div class="form-group row">
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Firstname" placeholder="First Name" />
                </div>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Lastname" placeholder="Last Name" />
                </div>
            </div>

            <div class="form-group">
                <textarea class="form-control" rows="3" asp-for="Content"></textarea>
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@foreach (var comment in ViewBag.Article.Comments)
{
    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">@comment.Firstname @comment.Lastname</h5>
            @comment.Content
        </div>
    </div>
}

@*@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var articleId = @ViewBag.Article.Id;
            console.log(articleId);

            $('#btnSubmit').click(function () {
                    var firstName = $("#FirstName").val();

                $.ajax({
                    type: 'post',
                    url: '@this.Url.Action("AddComment","Home")',
                    data: {ArticleId: articleId },                    
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8;'
                });
            });
        });
    </script>
}*@